<div style="font-family: Arial, sans-serif">
  <img src="cid:logo_id" alt="López Rosa" width="600" /><br />
  <div
    style="font-family: Aptos, Arial, sans-serif; font-size: 9pt; color: #000"
  >
    La información de este correo electrónico es confidencial y legalmente puede
    ser privilegiada. Está dirigida únicamente al destinatario y nadie más está
    autorizado a tener acceso a este correo electrónico. Si usted no es el
    destinatario a quien está dirigido, le está prohibido o puede ser ilícito el
    copiar, distribuir, o tomar cualquier acción en relación con el contenido de
    este correo electrónico. Por lo que le pedimos informe inmediatamente al
    remitente vía e-mail y destruya el mensaje original, así como las copias del
    mismo. No seremos responsables por daños o alteraciones a terceras personas,
    o por el resultado de cualquier virus. Toda información personal y/o
    sensible recabada por medio de este correo electrónico será asegurada bajo
    los lineamientos del Aviso de Privacidad de esta sociedad, el cual puede
    consultar en la página web de GRUPO LÓPEZ ROSA,
    <a href="http://www.lopezrosa.com">www.lopezrosa.com</a>
    y conforme a lo ordenado por la Ley Federal de Protección de Datos
    Personales en Posesión de los Particulares. Toda comunicación mediante
    correo electrónico con esta organización, con sus miembros y con sus
    colaboradores, así como el uso de su sitio web, se encuentran sujetos a la
    aceptación incondicional por parte del usuario de los términos y condiciones
    precisados en nuestro Aviso de Privacidad.
    <br /><br />

    The information contained in this message may be privileged, confidential,
    and protected from disclosure. If you are not the intended recipient, or an
    employee, or agent responsible for delivering this message to the intended
    recipient, you are hereby notified that any dissemination, distribution, or
    copying of this communication is strictly prohibited. If you have received
    this communication in error, please notify us immediately by replying to the
    message and deleting from your computer. This email has been scanned for
    viruses, vandals and malicious content, however the recipient should check
    this email and any attachments for the presence of viruses. All personal
    information and / or sensitive information collected by email will be
    insured under the guidelines of the Privacy Notice of this Corporation,
    which you will be able to consult at the website of GRUPO LÓPEZ ROSA,
    <a href="http://www.lopezrosa.com">www.lopezrosa.com</a>, and as mandated by
    the Federal Protection of Personal Data Held by Individuals Law. All
    communication by email with this corporation, with its members and
    collaborators, as well as the use of its website, are subject to
    unconditional acceptance by you of the terms and conditions set out in our
    Privacy Statement.
  </div>
</div>
